/.idea/
/local.properties
/.gradle/
/buildSrc/build/
/buildSrc/.gradle/
/ai-upscale/
/ai-upscale/3rdparty/ncnn-android-vulkan-shared/armeabi-v7a/
build/
*build/
arm64-v8a/
armeabi-v7a/
x86/
x86_64/
.cxx/
.externalNativeBuild/
/local_*/
.DS_Store
.gradle
/build/
/captures/
.navigation/
/outputs/
*.iml
*.hprof
*.log
*.orig
*.rej
*.swp
*~
*.lock
.idea/
.idea_modules/
*.keystore
*.pem
*.p12
*.crt
*.der
*.cer
*.pfx
