<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infisense.usbir">
    <!-- [Chinese comment removed for ASCII compatibility] -->
    <uses-sdk
        tools:overrideLibrary="com.infisense.iruvc" />

    <application android:extractNativeLibs="true" />
</manifest>